*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 280px;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-panel img {
  width: 100%;
  border-radius: 10px;
}

.card-info h1{
  font-size: 17px;
  color: hsl(218, 44%, 22%);
  margin: 7px 0;
  padding: 5px;
}

.card-info p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}

@media (max-width: 375px) {
  .card {
    width: 300px;
  }
}