body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-panel img {
  width: 100%;
  border-radius: 10px;
}

.card-info h4 {
  font-size: 18px;
  color: hsl(218, 44%, 22%);
}

.card-info p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}

@media (max-width: 375px) {
  .card {
    width: 300px;
  }
}